.raleway700 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
}
.blue {
    color: cornflowerblue;
}
.roboto50014px {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
.roboto900 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}
.sect1 {
    background-color: darkslategray;
    color: white;
}
button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    text-align: center;
}
.roboto70016px {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.roboto70014px {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}
.roboto40014px {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.roboto70036px {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}
.roboto50016px {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
}
.roboto40016px {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}